<!-- A page that tells why we made the web app -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div
    class="
      container
      px-4 px-lg-5
      d-flex
      h-100
      align-items-center
      justify-content-center
    "
  >
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <p class="text-white-50" style="font-size:20px">
              The opioid crisis is devastating communities across America. The latest statistics indicate that
          the total yearly overdose deaths due to opioids reached a new high of 70,237 in 2017. In October
          2017, President Trump declared the opioid crisis a public health emergency.
          <br><br>
              This national crisis is alarming as the number of opioid-related overdose deaths continue to climb. This is affecting 
          everyone nationwide: friends, cousins, siblings, parents and children. These are people. 
          <br><br>
            Several measures have been taken to combat the crisis. However, there are few options for accessible data that
          exist to allow government officials and prescribers to simply view the volume of prescriptions that are taking 
          place overall. This application fills that hole in internet resources.
          </p>
      </div>
    </div>
  </div>
</header>
{% endblock %}