<!-- Takes input to search for a spcific prescriber, displays on show precriber page -->

{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Masthead-->
<header class="masthead" style="height:800px">
    <div
      class="
        container
        px-4 px-lg-5
        d-flex
        h-100
        align-items-center
        justify-content-center
      "
    >
      <div class="d-flex justify-content-center">  
        <form name="form" method="get" action="{% url 'showPrescriber' %}">
          {% csrf_token %}
          <b 
          class="
            justify-content-center
            text-white-50
          "
          style="
            Font-size:45px
          "
        >Search Prescriber</b>
          <div class="form-group">
            <label for="FirstNameInput" class="text-white-50">First Name:</label>
            <input type="text" class="form-control" name="fname" id="FirstNameInput" placeholder="Enter First Name" required>
          </div>
          <br>
  
          <div class="form-group">
            <label for="LastNameInput" class="text-white-50">Last Name:</label>
            <input type="text" class="form-control" name="lname" id="LastNameInput"  placeholder="Enter Last Name" required>
          </div>
          <br>
  
          <text class="text-white-50">Gender:</text>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="genderRadios" id="maleRadios" value="M"  required>
            <label class="form-check-label text-white-50" for="maleRadios">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="genderRadios" id="femaleRadios" value="F">
            <label class="form-check-label text-white-50" for="femaleRadios">
              Female
            </label>
          </div>
          <br>

          <text class="text-white-50">State:</text><br>
          <select name= "state" class="custom-select form-select" id="stateInput" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
            <option value="PR">Puerto Rico</option>
            <option value="VI">Virgin Islands</option>
            <option value="AE">Armed Forces Europe</option>	
          </select>
          <br>
  
          <div class="form-group">
            <label for="SpecialityInput" class="text-white-50">Speciality:</label>
            <select name="specialty" class="form-control" required>
              <option disabled selected value> -- select an option -- </option>
                {% for entry in Specialty %}
                    <option value="{{ entry.specialty }}">{{ entry.specialty }}</option>
                {% endfor %}
            </select>
          </div>
          <br>
          <div class="form-group">
          <label for="CredentialInput" class="text-white-50">Credential(s):  (ctrl + click to select multiple)</label>
          <br>
          <select name="credential" class="form-control">
            <option default value=""> -- select an option -- </option>
              {% for entry in Credential %}
                  <option value="{{ entry.credential }}">{{ entry.credential }}</option>
              {% endfor %}
          </select>
        </div>
          <br>
              <button type="submit" class="btn btn-primary" align:right>Search</button>
        </form>
  
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>
  
  <!-- About-->
  <section class="about-section text-center" id="about">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8">
          </div>
        </div>
      </div>
    </section>

{% endblock %}