<!-- Create table to dynamically display prescription information and buttons -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead" style="height:800px">
    <div
      class="
        container
        px-4 px-lg-5
        d-flex
        h-100
        justify-content-center
      "
      style="padding-top:100px"
    >
      <div class="d-flex justify-content-center">
        <div class="text-center, text-white-50" style="font-size: 40px; text-align: center">
    <table style="font-size:28px">
        <b 
        class="
          justify-content-center
          text-white-50
        "
        style="
          Font-size:45px
        "
      >Search Prescriptions</b>
        <tr>
            <th style="padding:0 20px 0 0; text-decoration:underline">Prescription Name</th>
            
            <th style="padding:0 20px 0 0; text-decoration:underline">Is It An Opioid? </th>

        </tr>
        {% for drug in post_list %}
          <tr> 
            <td style="padding:0 20px 0 0">{{ drug.drugname }}</td>
            
            <td style="padding:0 20px 0 0">{{ drug.isopioid }}</td>

            <td>
                <a class="btn btn-primary"  style="width:175px;height:50px;font-size:10px;text-align:center" href="{% url 'showPrescriptionDetails' drug=drug.drugname %}">View Details</a>
            </td>
        </tr>
        {% endfor %}
      </table>
        <br>
        {% if post_list.has_other_pages %}
        <nav aria-label="Page navigation conatiner"></nav>
        <ul class="pagination justify-content-center">
            {% if post_list.has_previous %}
            <li style="padding-right:100px"><a href="?page={{ post_list.previous_page_number }}" class="btn btn-primary" style="width:175px;height:60px;font-size:15px;text-align:center">&laquo; PREV </a></li>
            {% endif %}
            {% if post_list.has_next %}
            <li><a href="?page={{ post_list.next_page_number }}" class="btn btn-primary" style="width:175px;height:60px;font-size:15px;text-align:center"> NEXT &raquo;</a></li>
        {% endif %}
        </ul>
        </nav>
        </div>
        {% endif %}
        </div>
      </div>
    </div>
  </header>
{% endblock %}